.o_account_reports_level_extended0 > td.o_account_report_line_indent > div.dropdown{
    margin-left: -10px;
}
.o_account_reports_level_extended1 > td.o_account_report_line_indent > div.dropdown{
    margin-left: -10px;
}
.o_account_reports_level_extended2 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 10px;
}
.o_account_reports_level_extended3 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 20px;
}
.o_account_reports_level_extended4 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 30px;
}
.o_account_reports_level_extended5 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 40px;
}
.o_account_reports_level_extended6 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 50px;
}
.o_account_reports_level_extended7 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 60px;
}
.o_account_reports_level_extended8 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 70px;
}
.o_account_reports_level_extended9 > td.o_account_report_line_indent > div.dropdown{
    margin-left: 80px;
}